//Border width
$btnborder: 2px;

//Border and fill color
$btncolor: #0275d8 ;

//Button text color
$txtcolor: #0275d8;

//Alternative button text color for background transitions
$txtcolorfill: #fff;

//Button Padding
$paddingY: 8px;
$paddingX: 20px;